fastapi[all]
uvicorn
sqlalchemy
psycopg2-binary
alembic
python-jose[cryptography]
bcrypt
python-dotenv
pydantic-settings
pydantic[email]
python-multipart
pillow
numpy
opencv-python-headless
scikit-image
google-genai
httpx
geopy
protobuf
